<section class="section section__home">
  <div class="block">
    <div class="box panel--green">
	    <h2 class="is__text--centered panel__heading home__panel">{{heading}}</h2>
      <h3 class="is__text--centered ">{{copy}}</h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="block">
    <div class="box">
    {{cta}}
      {{ if first}}
      <div class="quote cta">
        <h2>{{heading}}</h2>
        <div class="button--cta button--g button--text">
        <i class="fa fa-phone"></i>{{buttonText}}</div>
      </div>
      {{endif}}
    {{/cta}}
    </div>
  </div>
</section>

<section class="section">
  <div class="block">
    <div class="box quote">

    </div>
  </div>
</section>

<section class="section section__why">
  <div class="block">
    <div class="why__main--box">
      <h3>Why pilates & movement? </h3>
      <p>Through pilates rehabilitation you will become aware of how to change faulty movement patterns and your mind body connection will be heightened. We use pilates as a tool to restore your body's internal connections to a healthy, self-functioning state. Therapy should be and is fun. Above all, through pilates and movement, your healing is designed to provide you complete control over your symptoms and prevention from future injuries.
      </p>
    </div>
    <div class="why__main--box last">
      <h3>your healing is personal, so are your staff</h3>
      <p>You will get a personal one-on-one treatment with one of us throughout your entire recovery. We are right for you if you wan.t to actively participate in your healing. Our physical therapy approaches your healing in a way:</p>
      <div class="why__pill--box">
        <div class="component__pill">
          <span class="pill__text">
            self-maintenance
          </span>
        </div>
        <div class="component__pill">
          <span class="pill__text">
            less wear & tear
          </span>
        </div>
        <div class="component__pill">
          <span class="pill__text">
            save money & time
          </span>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section home__staff">
  <div class="block">
    <div class="staff__heading-box">
      <h2 class="staff__title">Come back to staff who cares about you. </h2>
      <div class="button--g button--text">
        Learn more about your staff.
      </div>
    </div>
  </div>
</section>

<section class="section section--pad">
  <div class="block">
    <div class="box aliments__box">
      <h2 class="is__text--c-g is__text--centered">Will I benefit from your therapy?</h2>
      <p class="is__text--centered">Our therapy might benefit those who have:</p>

      {{ ailments }}
        <div class="component__pill">
          <span class="pill__text">{{ailmentName}}</span>
        </div>
      {{ /ailments }}
    </div>
  </div>
</section>
