<section class="section section__therapy">
  <div class="block">
    <div class="box">
      <h1 class="is__text--c-blk is__text--centered">{{ heading }}</h1>
      <div class="quote cta is__text--centered">
      {{cta}}
        <a href="{{link}}"><div class="button--g button--text">{{buttonText}}</div></a>
      {{/cta}}
    </div>
    </div>
  </div>
</section>
<section class="section__therapy--sub">
  <div class="block">
    <div class="therapy__content-box">
      <h3>{{ content }}</h3>
    </div>
  </div>
</section>