<section class="section section__class section--pad is__background--c-gdk">
  <div class="block">
    <div class="quote cta class__box">
      <h2 class="is__text--c-t">Benefit even more from your therapy by making it a lifestyle.</h2>
      <p class="is__text--c-w">Join one of our classes while you are active in your therapy program. We offer both private and group classes.</p>
      <div class="button--cta button--g button--text">find out more about pilates classes</div>
    </div>
  </div>
</section>
<footer class="section__footer">
  <div class="block">
    <div class="box">
      <h2 class="is__text--c-t is__text--centered">
        Start taking control of your pain and your symptoms now.
      </h2>
    </div>
    <div class="footer__email">
      <div class="button--g"><i class="fa fa-envelope fa-1x"></i>Email us!</div>
    </div>
    <div class="footer__call">
      <div class="button--g"><i class="fa fa-phone fa-1x"></i>Call us!</div>
    </div>
  </div>
</footer>